#box1 {
    background-color: green;
    float: left;
}
#box2 {
    background-color: red;
    float: left;
}
#box3 {
    background-color: blue;
    clear: both;
    float: left;
}
#box4 {
    background-color: yellow;
    float: left;
}

.box {
    width: 100px;
    height: 100px;
}

.fullboarder{
    border: black thin solid;

}


                                                                                                                                                                                                   </div>