body {
    background: lightgray;
}

header {
    color: black;
    background: grey;
    padding: 5%;
    font-size: xx-large;
}

p {
    margin: 30px 15px 40px 15px;
}

footer {
    background: grey;
    margin: 5%;
    padding: 3%;
}

ul {

    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
    color: purple;
}


