.nav{
    background-color: lightslategrey;
    padding: 10px;
    font-family: Bahnschrift, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
ul {
    text-align: right;
    list-style-type: none;


}

li {
    display: inline-block;
    color: whitesmoke;
    padding-right: 15px;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    color: darkviolet;
}
 body{
     background-color: lightblue;
     font-size: x-large;
     font-family: Bahnschrift, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 }
.pic{
    background-image: url("../img/zlayout.png");
    background-position: initial;
    background-repeat: no-repeat;
    height: 700px;
    margin: auto;
    text-align: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    margin: 50px;
}
